[include]
    path = ~/.gitconfig.local
[core]
    editor = ${EDITOR}
    autocrlf = input
[alias]
    # THIS LIST OF REFERENCES IS READ BY INSTALL.SH IN ORDER TO GENERATE POWERSHELL FUNCTIONAL ALIASES
    gs = status
    gp = pull
    ga = add
    gpush = push
    gcom = commit -m
    gco = checkout
    gbr = branch

    # Graphical logging with commit details
    glg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    # See commits from today
    gtoday = "!f() { git log --since='1 day ago' --oneline; }; f"
[color]
    ui = auto
[column]
    ui = auto
[init]
    defaultBranch = main
[push]
    autoSetupRemote = true
    useForceIfIncludes = true
[fetch]
    # Automatically removes local references to branches that were deleted on GitHub
    prune = true