[core]
    editor = ${EDITOR}
    autocrlf = input
[alias]
    gs = status
    gp = pull
    ga = add
    gpush = push
    gcm = commit -m
    co = checkout
    br = branch

    # Graphical logging with commit details
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    # See commits from today
    today = "!f() { git log --since='1 day ago' --oneline; }; f"
[color]
    ui = auto
[column]
    ui = auto
[init]
    defaultBranch = main
[push]
    autoSetupRemote = true
    useForceIfIncludes = true
[fetch]
    # Automatically removes local references to branches that were deleted on GitHub
    prune = true